[Desktop Entry]
Encoding=UTF-8
Type=Application

Exec=/usr/local/MQJExplorer/runme.sh
Icon=MQJExplorer.png

Name=MQJExplorer
Name[de]=MQJExplorer
Name[en_US]=MQJExplorer
Name[es]=MQJExplorer
Name[fr]=MQJExplorer
Name[it]=MQJExplorer
Name[ja]=MQJExplorer
Name[ko]=MQJExplorer
Name[nl]=MQJExplorer
Name[pt_BR]=MQJExplorer
Name[zh_CN]=MQJExplorer
Name[zh_TW]=MQJExplorer
Comment=IBM MQJExplorer 0.14
Comment[de]=IBM MQJExplorer 0.14
Comment[en_US]=IBM MQJExplorer 0.14
Comment[es]=IBM MQJExplorer 0.14
Comment[fr]=IBM MQJExplorer 0.14
Comment[it]=IBM MQJExplorer 0.14
Comment[ja]=IBM MQJExplorer 0.14
Comment[ko]=IBM MQJExplorer 0.14
Comment[nl]=IBM MQJExplorer 0.14
Comment[pt_BR]=IBM MQJExplorer 0.14
Comment[zh_CN]=IBM MQJExplorer 0.14
Comment[zh_TW]=IBM MQJExplorer 0.14

Categories=Application;Programming;Accessories;Other
